@import "tailwindcss";

:root {
  --background: rgba(249, 243, 219, 0.3);
  --foreground: #171717;
  --hero: rgb(236, 156, 51);
  scroll-behavior: smooth;
  scroll-padding: 30px;
}
img{
    max-width: 100%;
    width: 100%;
    height: 900px;
    display: block;
}
.hero{
    width: 100%;
    height: 60vh;
    background-color: var(--hero);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 85px;
    color: rgba(237, 237, 234);
    font-weight: 800;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-manrope);
  --font-mono: var(--font-manrope);
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1140px;
  margin: 0 auto;
}

/*to disable outline on click*/
.recharts-wrapper svg * {
    outline: none;
}
